.blog_container {
  width: 80%;
  margin: 0 auto;
}

.link_container {
  color: black;
}

.page_title h1 {
  color: var(--secondary);
}

.image_container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.blog_link {
  float: right;
  text-decoration: none;
}

.section_title {
  margin-top: 30px;
}
