.page_title {
  /* margin-bottom: 25px; */
}

.page_title h1 {
  color: var(--secondary);
}

.page_body {
  margin: 10px 0;
}

.grammar_explanation_paragraph {
  /* background-color: .d0e1fb;
  color: .1b1b52;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray; */
}

.definition_pictures_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.definition_picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture_wrapper {
  position: relative;
  overflow: hidden;

  border-radius: 5px;
}

.picture_subtitle {
  margin: 0;
}

.table_container {
  display: flex;
  justify-content: center;
}

.content_wrapper {
  display: flex;
  gap: 70px;
  margin-bottom: 20px;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: 0.04AA6D;
  color: white;
}
