:root {
  --primary: #1976d2;
  --secondary: #cc1e1e;
  --neutral-light: #c2b9c2;
  --neutral-dark: #494850;
  --hover: #1565c0;
}

@media only screen and (max-width: 300px) {
  .navbar-logo {
    display: flex;
    margin-left: auto;
    width: 2000px; 
  }


}
