.main_container {
  background: purple;
  width: 100%;
  min-height: 100%;
  background-color: #f3f0f0;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.list_container {
  padding: 0 !important;
  list-style: none;
}

.list_container li {
  font-size: 1rem;
  list-style: none;
}

.sidebar {
  margin-top: 50px;
  background-color: white;
  border-radius: 9px;
  flex-basis: 20%;
}

.main_content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 9px;
  padding: 20px;
  flex-basis: 75%;
}

.link {
  color: var(--neutral-dark);
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  color: #fff;
  width: 100%;
  background-color: var(--secondary);
}


