.main_container {
  background: purple;
  width: 100%;
  min-height: 100%;
  background-color: #f3f0f0;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.list_container {
  padding: 0 !important;
  list-style: none;
}

.list_container li {
  font-size: 1rem;
  margin: 20px 0;
  padding-bottom: 10px;
  list-style: none;
}

.sidebar {
  margin-top: 50px;
  background-color: white;
  border-radius: 9px;
  flex-basis: 20%;
}

.main_content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 9px;
  padding: 20px;
  flex-basis: 75%;
}

.link {
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-decoration: none;
}

.link:hover {
  width: 100%;
  color: #000;
  background-color: #f3f0f0;
  border-radius: 0 16px 16px 0;
}
