.selected {
  display: block;
  width: 100%;
  padding: 10px 20px;
  transition: 0.5s;
  border-bottom: 1px solid rgb(222, 217, 217);
  color: var(--secondary);
  text-decoration: none;
  margin-top: 10px;
}

.main_container {
  width: 100%;
  min-height: 100%;
  background-color: #f3f0f0;
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

.list_container {
  padding: 20px 0 !important;
  list-style: none;
}

.list_container li {
  font-size: 1rem;
  list-style: none;
}

.sidebar {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 9px;
  flex-basis: 20%;
}

.main_content {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 9px;
  padding: 20px;
  flex-basis: 75%;
}

.phrasal_verbs_link {
  color: var(--neutral-dark);
  display: block;
  width: 100%;
  padding: 6px;
  text-decoration: none;
  transition: 0.5s;
  border-bottom: 1px solid rgb(222, 217, 217);
}

.link {
  color: var(--neutral-dark);
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
  border-bottom: 1px solid rgb(222, 217, 217);
}

.phrasal_verbs_link:hover {
  color: #fff;
  width: 100%;
  background-color: var(--secondary) !important;
}

.link:hover {
  color: #fff;
  width: 100%;
  background-color: var(--secondary) !important;
}

@media only screen and (max-width: 450px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }

}
