.tutor_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; 
}

.tutor_details h4 {
  font-weight: bold;
}

.tutor_country_details {
    margin-bottom: 10px; 
}

.tutor_country_details img {
    margin-right: 5px; 
}

.tutor_country_details p {
    font-size: 13px; 
}

.tutor_photo img {
  border-radius: 50%;
}

.tutor_paragraph {
    margin-top: 10px; 
}

.tutor_link {
  margin-top: 20px;
  border-radius: 4px; 
  color: #fff;
  text-decoration: none;
  background: var(--primary);
  padding: 10px 30px;
}
