.link {
  text-decoration: none;
}

.home_btn {
  height: 37px;
  margin-right: 8px;
  background-color: #1976d2;
  border-radius: 6px;
  border: none;
  padding: 10px 10px;
}

.home_btn a {
  text-decoration: none;
  color: #fff;
}

.btn_container {
  display: flex;
  align-items: center;
}

/* .div_btn {
  padding: 20px;
  background: purple; 
} */
