.link {
  text-decoration: none;
}

.home_btn {
  height: 37px;
  margin-right: 8px;
  background-color: #1976d2;
  border-radius: 6px;
  border: none;
  padding: 10px 10px;
}

.home_btn a {
  text-decoration: none;
  color: #fff;
}

.btn_container {
  display: flex;
  align-items: center;
}

.home_btn {
  display: flex;
  align-items: center;
}

.home_btn a {
  display: flex;
  align-items: center;
  padding: 6px 24px;
  color: #fff;
  border-radius: 4px;
}

.home_btn a:hover {
  color: #fff !important;
  background: var(--hover);
}

.home_btn:active {
  color: #fff;
  background: var(--primary);
}


/* @media only screen and (max-width: 480px) {
  h1 {
    margin-top: 150px;
  }
} */
