.banner {
  height: 300px;
}

.banner_inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image h1 {
  font-size: 200px;
}

.content_container {
  max-width: 1200px;
  margin: 0 auto;
}

.intro_content {
  padding: 20px;
  text-align: center;
  background: #1976d2;
  color: #fff;
}

.intro_content p {
  margin: 0;
}
